<% content_for(:topnav_bg) { 'bg-default' } %>

<div class="main-content" id="panel">
  <%= render 'components/profile/header' %>
  <!-- Page content -->
  <div class="container-fluid mt--6">
      <div class="row">
        <div class="col-xl-4 order-xl-2">
          <%= render 'components/profile/summary_card' %>
        </div>
        <div class="col-xl-8 order-xl-1">
          <%= render 'components/profile/edit_card' %>
        </div>
      </div>
    <%= render 'components/footer' %>
  </div>
