<div class="card">
  <div class="card-header">
    <div class="row align-items-center">
      <div class="col-8">
        <h3 class="mb-0">Les Avis</h3>
      </div>
      <div class="col-4 text-right">
        <a href="#!" class="btn btn-sm btn-primary">Settings</a>
      </div>
    </div>
  </div>
  <div class="card-body">
    <form>
      <!-- Description -->
      <div class="pl-lg-4">
        <div class="form-group">
          <label class="form-control-label">avis</label>
          <textarea rows="4" class="form-control" placeholder="Si je vous ai deja accompagne, votre avis m'intersse pour m'encourage et me suggerer des amelioration"></textarea>
        </div>
      </div>
    </form>
  </div>
</div>
